<ion-view view-title="Private Bank Info">
    <ion-content class="dashboard">
        <ion-list>
            <div class="row">
                <div class="col" ui-sref="app.valute">
                    <ion-item class="card" >
                        Курс валют
                    </ion-item>
                </div>
                <div class="col" ui-sref="app.banks">
                    <ion-item class="card">
                        Отделения
                    </ion-item>
                </div>
            </div>
            <div class="row">
                <div class="col" ui-sref="app.bankomats">
                    <ion-item class="card">
                        Банкоматы
                    </ion-item>
                </div>
                <div class="col" ui-sref="app.terminal">
                    <ion-item class="card">
                        Терминалы самообслуживания
                    </ion-item>
                </div>
            </div>
            <div class="row">
                <div class="col" ui-sref="app.bankMfo">
                    <ion-item class="card">
                        Поиск банка по МФО
                    </ion-item>
                </div>
                <div class="col" ui-sref="app.nbu">
                    <ion-item class="card">
                        Учетная ставка НБУ
                    </ion-item>
                </div>
            </div>
<!--
            <div class="row">
                <div class="col-50">
                    <ion-item class="card">
                        Почтоматы
                    </ion-item>
                </div>
            </div>
-->
        </ion-list>
    </ion-content>
</ion-view>