.terminal {
    input {
        width: 100%
    }
    i {
        margin-right: 15px;
    }
}

.terminalModal {
    h5,
    p {
        text-align: center
    }
    i {
        margin-right: 15px;
    }
}